# Порт HTTP-сервера
SERVER_PORT=8080

# Хранилище: postgres | local
STORAGE=postgres

# Настройки Postgres (нужны только при STORAGE=postgres)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=shortener
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
